* {
  box-sizing: border-box;

}

.me {
  width: 200px;
  border-radius: 200px;
  overflow: hidden;
  margin-left: 15px;
  padding: 10px;
}

body {
  color: rgb(165, 133, 133);
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;

}

h2 {
  font-size: 30px;
}

h4 {
font-size: 25px;
color: brown
padding-left: 25px;
background-color: antiquewhite;
background-position: 15px;
}

h3 {
  font-size: 25px;
  color: rgb(165, 133, 133)k;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  display: flex;
  background-color: rgb(189, 194, 183);
  justify-content: space-between;
  font-size: larger;
  border-bottom: 1px black;
  border-style: ridge;

}

header h1 {
  padding: 0 0 10px 10px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: large;
  font-size-adjust: inherit;
  margin-right: 15px;
}

nav ul a {
  padding-right: 100px;
  size: 15px;
}

.hero-banner {
  padding-left: 20px;
}

.page-wrapper {
  max-width: 88%;
  margin: 0 auto
}

.main {
  background-color: beige;

}


.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.page-section h2 {
  flex: 0 0 20%;
  text-align: right;
  line-height: 1.1;
  font-size: 4vw;
}

.page-section>div {
  flex: 0 0 77%;

}

.page-section p {
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  height: 400px;
  

}

.Project-item {
  min-height: 300px;
  max-height: 400px;
  background-repeat: no-repeat;
  background-position: top;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 100%;
  transition: all 0.5s;
  font-size: 0.9rem;
}

.Project-item:first-child {
  min-height: 500px;
  flex-basis: 50%;
}

.Project-item:hover {
  opacity: 0.2;
}

.Project-item h3 {
  padding-left: 10px;
}

.p1 {
  background-image: url("../images/02-portfolio-1.jpg");
background-size: cover;
}

.p2 {
  background-image: url("../images/02-portfolio-2.jpg");
background-size: cover;

}

.p3 {
  background-image: url("../images/02-portfolio-3.jpg");
background-size: cover;
}

.p4 {
  background-image: url("../images/02-portfolio-4.jpg");
background-size: cover;
}

.p5 {
  background-image: url("../images/02-run-buddy.jpg");
  size: 100%;
background-size: cover;
}


.contact ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  /* text-align: center; */
}

.contact ul li a {
  color: var(--tertiary);
  padding: 5px;
  text-decoration: none;
  font-size: 1.3rem;
  font-style: normal;
  background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  margin: 0 0.2rem 0.1rem;
  display: inline-block;
}


